<div class="row">
    <div class="col-xs-12 col-sm-10">
        <form class="form-signin" (submit)="onSubmit()">
            <div class="form-label-group">
                <label for="inputEmail">Email address</label>
                <input type="email"
                       id="inputEmail"
                       class="form-control"
                       placeholder="Email address"
                       required autofocus="" autocomplete="off"
                       name="password" #password="ngModel" [(ngModel)]="state.email">
            </div>

            <div class="form-label-group mt-4">
                <label for="inputPassword">Password</label>
                <input type="password"
                       id="inputPassword"
                       class="form-control"
                       placeholder="Password"
                       required="" autocomplete="off"
                       name="password" #password="ngModel" [(ngModel)]="state.password">
            </div>
            <button class="btn btn-lg btn-primary btn mt-4" type="submit">Sign in</button>
        </form>
    </div>
</div>
